<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!DOCTYPE html>
<html>
<head>
  <title>Biofuels</title>
  <%= stylesheet_link_tag 'application' %>

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
